.text-box {
  font-size: 5rem;
  font-weight: 500;
}

.animate-text {
  display: inline-block;
  vertical-align: top;
  height: 113px;
  overflow: hidden;
}
.animate-text div {
  animation: 9s wordChange;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}
.animate-text span {
  position: relative;

  display: block;
  text-align: center;
  color: #ffa101;
  background-clip: text;
}
.animate-text span:after {
  content: '';
  position: absolute;
  left: 0;
  border-left: 5px solid #151823;
  height: 100%;
  animation: 3s textType;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
  animation-fill-mode: backwards;
  right: -2px;
  background-color: #151823;
  overflow: hidden;
}

@keyframes textType {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes wordChange {
  0% {
    margin-top: 0;
  }
  33.333% {
    margin-top: -113px;
  }
  66.666% {
    margin-top: -226px;
  }
  100% {
    margin-top: 0;
  }
}

/** TRY **/
.circle {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(to top, #fae6b1, #fae6b1);
  animation: ripple 5s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.75);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}
